<launch>
	
	<!-- INITIALIZE CAMERA: -->
    <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch" />
    
  	<node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  	<!-- Run a passthrough filter to clean NaNs -->
  	<node pkg="nodelet" type="nodelet" name="passthrough" args="load pcl/PassThrough pcl_manager" output="screen">
    	<remap from="/camera/depth/points" to="/camera/depth/points2" />
    	<rosparam>
	      filter_field_name: z
	      filter_limit_min: 0.2
	      filter_limit_max: 1.5
	      filter_limit_negative: True
	    </rosparam>
 	 </node>
</launch>